.note {
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  padding: 1rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 20rem;
}

.note.green {
  background-color: #15803d;
}
.note.blue {
  background-color: #0e7490;
}
.note.red {
  background-color: #9d174d;
}

.note > h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  word-break: break-all;
  max-width: 150px;
}

.note > p {
  display: none;
}

.note > ol,
ul {
  padding-left: 1rem;
}

.note > p:first-of-type {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-all;
}

.note > p > img {
  height: 50px;
  width: 50px;
}

.pin-btn {
  position: absolute;
  top: 12px;
  right: 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--primary-color);
  font-size: 1.25rem;
}

.note-footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-action-btns {
  display: flex;
}

.note-priority {
  color: white;
  margin-right: 0.5rem;
  margin-left: 0.8rem;
}

.action-btn {
  background-color: transparent;
  border: none;
  color: var(--primary-color);
  font-size: 1.25rem;
  cursor: pointer;
  display: inline-flex;
}

.action-btn span {
  font-size: 23px;
}

.action-btn:nth-child(1) {
  margin: auto 0.5rem;
}

@media only screen and (max-width: 768px) {
  .note-action-btns {
    opacity: 1;
  }
}
