.note {
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  padding: 1rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 20rem;
}

.note > p {
  overflow-wrap: break-word;
}

.pin-btn {
  position: absolute;
  top: 12px;
  right: 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--primary-color);
  font-size: 1.25rem;
}

.note-footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.note-action-btns {
  display: none;
}

.action-btn {
  background-color: transparent;
  border: none;
  color: var(--primary-color);
  font-size: 1.25rem;
  cursor: pointer;
}

.note:hover .note-action-btns {
  display: block;
}

.action-btn:nth-child(2) {
  margin: auto 0.5rem;
}
