.nav-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 75px;
  height: 100vh;
  background-color: var(--container-color);
  padding: 1.5rem 1rem 2rem;
  z-index: 1;
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav-brand {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  margin-bottom: 2rem;
}

.toggle-menu {
  color: white;
  font-size: 1.25rem;
  padding: 0.75rem;
  cursor: pointer;
}

.brand-name {
  font-size: 1.25rem;
  font-weight: 600;
}

.nav-link {
  width: 100%;
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 0.75rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  transition: all 0.3s;
  color: white;
  cursor: pointer;
}

.nav-link:hover {
  background-color: var(--primary-color);
}

.nav-icon {
  font-size: 1.25rem;
}

.nav-name {
  font-size: 0.875rem;
}

.expander {
  width: 15rem;
}

.active {
  background-color: var(--primary-color);
}

.collapse {
  grid-template-columns: 20px max-content 1fr;
}

.collapse-link {
  justify-self: flex-end;
  transition: display 0.5s;
}

.collapse-menu {
  display: none;
  padding: 0.75rem 1rem;
  grid-column: 1/-1;
}

.collapse-sublink {
  color: var(--primary-color-second);
  font-size: 0.875rem;
  display: block;
  padding: 0.5rem;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 10px;
}

.collapse-sublink:hover {
  color: white;
}

.show-collapse {
  display: block;
  width: 100%;
}

.rotate {
  transform: rotate(180deg);
  transition: 0.5s;
}

.add-label-btn {
  border-width: 0;
  background-color: initial;
  width: max-content;
  padding: 2px 5px;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.add-label-btn:hover {
  color: white;
}
