.error-page {
  height: 100%;
  width: 100%;
}

.img-container-404 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.image-404 {
  object-fit: contain;
}

.home-btn {
  position: absolute;
  bottom: 10%;
}
