.form-wrapper {
  background-color: var(--container-color);
  width: 20rem;
  border: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-heading {
  color: var(--title-color);
  text-align: center;
}

.form-wrapper label {
  color: var(--text-color);
}

.form-wrapper .btn-submit {
  background-color: var(--primary-color);
}

.form-wrapper .btn-submit:hover {
  background-color: var(--primary-hover-color);
}

.form-wrapper .new-account {
  color: var(--text-color);
  display: flex;
  align-items: center;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
  margin: auto;
}

.new-account .signup-icon {
  margin-left: 5px;
  font-size: 1.25rem;
}

.login-form {
  position: fixed;
  display: none;
}

.login-form-active {
  display: block;
  z-index: 2;
}

.signup-form {
  position: fixed;
  display: none;
}

.signup-form-active {
  display: block;
  z-index: 2;
}

.form-username label {
  display: block;
  font-size: 1rem;
  font-weight: 600;
}

.form-confirm-password label {
  font-size: 1rem;
  font-weight: 600;
}

.form-username input,
.form-confirm-password input {
  width: 100%;
  border: 1px solid var(--default-color);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  outline: none;
  font-size: 0.8rem;
}
