@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --hue-color: 240; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/
  --primary-color: hsl(var(--hue-color), 69%, 61%);
  --primary-color-second: hsl(var(--hue-color), 30%, 8%);
  --primary-hover-color: hsl(var(--hue-color), 57%, 53%);
  --primary-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --container-color: hsl(var(--hue-color), 29%, 16%);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--container-color);
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--title-color);
}

p {
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: white;
}

.page-title {
  color: var(--title-color);
  text-align: center;
  margin-top: 2rem;
}
